{% extends "base.html" %}

{% block cuerpo %}
<div class="row"> <!--La fila -->
  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--Columna izquierda -->
    <h1>Mamá</h1>
    <div class="card"> <!--La tarjeta -->
      <div class="card-body">
        <form action="registrarMateria/" method="POST"> {% csrf_token %}
          <div class="form-group">
            <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="Codigo materia" minlenght="1" maxlenght="6" required><br>
          </div>
          <div class="form-group py-1">
            <input type="text" id="txtmateria" name="txtmateria" class="form-control" placeholder="Nombre materia" maxlenght="100" required><br>
          </div>
          <div class="form-group">
            <input type="text" id="numcreditos" name="numcreditos" class="form-control" min="1" max="9" value="1" required><br>
          </div>
          <div class="form-group py-1">
            <button type="submit" class="btn btn-dark">Guardar Materia</button>
          </div>
        </form>
      </div>
    </div> <!--La tarjeta -->
  </div> <!--Columna izquierda -->

<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!--Columna derecha -->
  <h1>Listado de Materias</h1>
  <!--La tabla -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Creditos</th>
        <th> Opciones </th>
      </tr>
    </thead>
    <tbody>
      {% for m in mismaterias %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{m.codigo}}</td>
          <td>{{m.nombre}}</td>
          <td>{{m.creditos}}</td>
          <td><a href="seleccionarMateria/{{m.codigo}}" class="btn btn-info">Editar</a></td> <!--falta-->
          <td><a href="borrarMateria/{{m.codigo}}" class="btn btn-danger">Borrar</a></td> <!--falta-->
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!--La tabla -->
</div> <!--Columna derecha -->
  
</div> <!--La fila -->
{% endblock %}